body{
    background-image: url('https://m.media-amazon.com/images/I/81KQe6e1hdL._AC_UF1000,1000_QL80_.jpg');
   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
img{
    height: 200px;
    border-radius: 50%;
}
#profile{
  height: 70vh;
  width: 300px;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  padding: 50px;
  box-sizing: border-box;
  border-radius: 50px;
  box-shadow: 2px 3px 50px green;
  margin:5% 40%;
}